.errorMessage {
    width: 340px;
    padding: 10px 20px;
    position: fixed;
    left: 50%;
    margin-left: -170px;
    top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    background: #d66969;
    text-align: center;
    color: #fff;
    margin-top: -100%;
    transition: all 0.2s;
}

.errorMessage.active {
    margin-top: 0;
}